body {
    width: 100%;
    background-image: url(../img/logo.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
}

.text {
    width: 60%;
    text-align: justify;
}

h1 {
    color: tomato;
}

h2 {
    color: dodgerblue;
}

.text h1,h2 {
    text-align: center;
}