body {
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to right, #fcbf16, #992154);
}

h1 {
    margin: 50px 0px 100px 0px;
    letter-spacing: 5px;
    color: white;
}

img {
    border-radius: 50%;
}